fastapi==0.115.6
fastapi-cli==0.0.6
gunicorn==23.0.0
Jinja2==3.1.4
joblib==1.4.2
nltk==3.9.1
numpy==2.2.0
orjson==3.10.12
pandas==2.2.3
pydantic==2.10.3
pydantic-extra-types==2.10.1
pydantic-settings==2.6.1
pydantic_core==2.27.1
python-dotenv==1.0.1
regex==2024.11.6
requests==2.32.3
scikit-learn==1.6.0
scipy==1.14.1
uvicorn==0.32.1